.flex-table {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 70%;
    border: 1px solid #ddd;
}

.flex-row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.flex-header {
    background-color: #f8f8f8;
    font-weight: bold;
}

.flex-cell {
    flex: 1;
    padding: 10px;
    border: 2px solid #fff;
    text-align: center;
}

.indicator-cell {
    text-align: left;
}

.percentage-cell {
    border-radius: 4px;
}

.chart-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.flex-row.active + .chart-container {
    max-height: 500px;
}

.flex-cell.yesterday {
    border-right: none;
    flex: 0.5;
}

.flex-cell.percentage-cell {
    border-left: none;
    flex: 0.5;
}

.cell-green {
    background-color: #e6ffe6;
}

.cell-red {
    background-color: #ffe6e6;
}

.cell-gray {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .flex-cell {
        padding: 8px;
        font-size: 14px;
    }

    .flex-row {
        flex-direction: column;
    }

    .flex-cell.yesterday,
    .flex-cell.percentage-cell {
        flex: 1;
        border: 1px solid #ddd; /* Восстанавливаем границы */
    }

    .flex-row.active + .chart-container {
        max-height: 300px; /* Уменьшение высоты графика для мобильных */
    }

    .chart-container {
        max-height: 0;
    }

    /* Уменьшение размера шрифта заголовков на мобильных */
    .flex-header {
        font-size: 16px;
    }

    /* Дополнительное уменьшение размера шрифта и отступов на маленьких экранах */
    @media (max-width: 480px) {
        .flex-cell {
            padding: 6px;
            font-size: 12px;
        }

        .flex-header {
            font-size: 14px;
        }

        .flex-row.active + .chart-container {
            max-height: 200px;
        }
    }
}
